<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    </div>
    <script>
        const div=document.querySelector("div");
        div.style.width="100px";
        div.style.height="100px";
        div.style.backgroundColor="red";
        div.style.margin="300px";
        div.style.borderRadius="20px";
        div.style.transition="all 2s";
        div.addEventListener("mouseover",overHandle);
        div.addEventListener("mouseleave",leaveHandle);

        function leaveHandle(){
            div.style.transform="scale(1)";
            div.style.backgroundColor="red";
        }

        function overHandle(){
            div.style.transform="scale(2)"
            div.style.backgroundColor="blue";
        }
    </script>
</body>
</html>